* { margin: 0; padding: 0; }
html,body { height: 100%; width: 100%; }

body {
  background: #F7EDED;
  font-family:Verdana, Arial, sans-serif;
}

h3 {
  margin: 0 0 10px 0;
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
  color: #AC993A;
  border-bottom: 1px solid #AC993A;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.button {
  text-align: center;
  background: #185da8;
  border-radius: 5px;
  display: block;
  font-family: Verdana, Arial, sans-serif;
  font-size: 24px;
  margin: 20px 0 0 170px;
  padding: 10px;
  width: 200px;
  transition: all 0.6s ease-in 0.6s;
}

a.button:hover {
  background: #2488f5;
  color: #fff;
  text-decoration: none;
  transition: all 1.2s ease-in 0.2s;
}


#container {
  width: 900px;
  margin: 40px auto;
}

#leftContainer {
  float: left;
  width: 460px;
}

#GameIntro {
  width: 440px;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  color: grey;
}

header {
  float: left;
  margin-top: 4px;
  padding-top: 4px;
  width: 402px;
  height: 40px;
  background: rgb(133, 17, 17);
  color: orange;
  text-align: center;
  border-radius: 2px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9);
}

#canvas {
  float: left;
  margin-top: 3px;
  background: #EEE;
  border: thin solid #aaa;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}

#gameComplete {
  position: absolute;
  top: 140px;
  width: 840px;
  height: 120px;
  background: rgba(0, 0, 0, 0);
  text-align: center;
}

#puzzleScore {
  width: 360px;
  margin-left: 470px;
  padding: 4px;
  font-size: 24px;
  background: rgba(255,255,255,0.2);
  color: rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  border: thin solid #aaa;
}

#nextBtn {
  margin-left: 470px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.4);
  color: orange;
  font-size: 32px;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.7);
}

#gameEnd {
  float: left;
  margin-top: 3px;
  width: 402px;
  height: 402px;
  background: black;
  color: white;
  font-size: 18px;
  text-align: center;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}

#scoreShow {
  color: #CC0033;
  font-size: 48px;
  text-align: center;
}

#highScoreList {
  padding-top: 10px;
  padding-left: 120px;
  text-align: left;
}
